/* main colors */
$blackFont: #3d3d3d;
$whiteFont: #f6f6f6;
$grayFont: #949494;
$grayFontLight: #9b9b9b;

$grayBackground: #464646;
$grayBackgroundLight: #747474;
$whiteBackground: #f2f2f2;
$whiteBackgroundLight: #fefefe;

$grayBorder: #d5d5d5;

/* special colors */
$green: #40d36c;
$red: #c91a1a;
$blue: #45519d;
$white: #f6f6f6;
$aqua: #10cac4;
$dark: #28252a;

.admin-panel {
  background: $blackFont;
  &-form {
    margin: 0 auto;
    margin-top: 10rem;
    border: 1px solid $aqua;
    border-radius: 3px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-input {
    margin-bottom: 10px;
    width: 256px;
    font-size: 1.5rem;
    height: 25px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid $whiteFont;
    color: $whiteFont;
    transition: 0.3s;
    padding-left: 10px;
    &:focus {
      border-bottom: 1px solid $aqua;
    }
  }

  &-button {
    margin-bottom: 10px;
    border: 1px solid $aqua;
    outline: none;
    width: 128px;
    height: 36px;
    color: $aqua;
    background: none;
    transition: 0.3s;
    font-size: 1.4rem;
    &:hover {
      cursor: pointer;
      background: $aqua;
      color: $whiteFont;
    }
  }
}
